.product {
  box-shadow: 0 0 0.5rem rgb(36, 36, 36);
  width: 55rem;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-class {
  width: 15rem;
  height: 15rem;
}
.img {
  width: 100%;
  height: 100%;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info span {
  margin: 0.45rem;
  text-align: center;
}

@media (max-width: 800px) {
  .product {
    width: auto;
  }
}
